.category.page-content {
    padding-right: 20px;

    .textField {
        width: 100%;
        margin: 10px;
    }
}

.category-row {
    margin: 10px;
    * {
        display: flex;
        margin: auto;
    }
}
